/*!
 *	Grid
 */

.row
	@extend $clearfix
	position relative
	margin 0
	padding 0

.row-main
	@extend .row
	margin 0 auto
	max-width 940px


.grid
	@extend $grid
	margin-left -20px

.grid--scroll
	@extend $grid--scroll

.grid--center
	text-align center

.grid--right
	text-align right


.grid__cell
	@extend $grid__cell
	border-left 20px solid transparent

.grid--middle
	> .grid__cell
		vertical-align middle

.grid--bottom
	> .grid__cell
		vertical-align bottom

// selector, separator, columns, rule, coef, otherRules
grid('.size--', '-', 12, 'width')
grid('.push--', '-', 12, 'left')
grid('.pull--', '-', 12, 'left', -1)
