// background to-image('img/bg/test.png', linear-gradient-image(50px top, white, black))
// background to-image('img/bg/test2.png', color-image(rgba(red,.5)))
// background sprite-date
/*!
 *	Base layout
 */
body
	position relative
	color $color


@import 'layout/header.styl'
@import 'layout/main.styl'
@import 'layout/footer.styl'

/*!
 *	Menu
 */
@import "layout/menu/*"

/*!
 *	Crossroads
 */
// @import "layout/crossroad/*"

/*!
 *	Box
 */
.box {
	background #eee
	margin 0 0 20px
	padding 20px
}
// @import "layout/box/*"

/*!
 *	Form
 */
@import "layout/form/*"


:first-child
	margin-top 0
